{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "browser": true
    },
    "rules": {
      "comma-dangle": ["error", "never"],
      "no-underscore-dangle": 0,
      "no-console": "warn",
      "no-unused-expressions": ["error", {"allowTernary": true}],
      "no-return-assign": [2, "except-parens"],
      "no-param-reassign": ["error", { "props": false }],
      "object-curly-newline": ["error", {
        "ObjectExpression": { "consistent": true },
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 5 }
      }],
      "react/prop-types": ["error", { "ignore": ["store"] }],
      "lines-between-class-members": 0,
      "react/destructuring-assignment": 0,
      "react/jsx-one-expression-per-line": 0
    }
  }
