version: '3'

services:
  db:
    image: postgres
  api:
    build: backend/.
    command: python3 manage.py runserver 0.0.0.0:8000
    restart: unless-stopped
    volumes:
      - ./backend/:/usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - db
