appdirs==1.4.3
bonobo==0.6.2
bonobo-docker==0.6.0
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
Django==2.0.7
django-admin-index==1.0.1
django-cors-headers==2.3.0
django-filter==1.1.0
django-ordered-model==2.0.0
djangorestframework==3.8.2
docker==2.7.0
docker-pycreds==0.3.0
fs==2.0.24
geographiclib==1.49
geopy==1.15.0
graphviz==0.8.4
idna==2.7
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
mondrian==0.7.0
numpy==1.14.5
packaging==17.1
pandas==0.23.3
pbr==4.1.0
psutil==5.4.6
psycopg2==2.7.5
pyparsing==2.2.0
python-dateutil==2.7.3
python-slugify==1.2.5
pytz==2018.5
requests==2.19.1
semantic-version==2.6.0
six==1.11.0
stevedore==1.28.0
unicodecsv==0.14.1
Unidecode==1.0.22
urllib3==1.23
websocket-client==0.48.0
whistle==1.0.1
xlrd==1.1.0
