.departments-pane {
  height: 100%;
  background-color: #fff;
  width: 25%;
  padding: 2rem;
  overflow: scroll;
  position: relative;
}

.departments-pane h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif!important;
  font-weight: normal;
  font-size: 1.3rem!important;
  margin-top: 0;
}

.departments-pane input[type="search"] {
  margin: 1rem 0 2rem 0;
}

.departments-chart {
  padding-left: 0;
}

.department {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.department > span {
  margin-bottom: 0.7rem;
  display: block;
}

.department-vis {
  display: flex;
}

.department-vis .bar {
  width: 85%;
  height: 2rem;
}

.department-vis .bar-inner {
  background-color: #FF6464;
  width: 100%;
  height: 100%;
  display: block;
}

.department-vis .numBeds {
  display: block;
  width: 15%;
  align-self: center;
  text-align: right;
}

.departments-pane .loading {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 12rem;
  width: 100%;
  top: calc(50% - 6rem);
  left: 0;
  padding: 1rem;
  text-align: center;
}

.departments-pane .loading .spin {
  margin-bottom: 1rem;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
