button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1rem;
}

button:hover {
  color: #ff6464;
  text-decoration: underline;
}

.hospital-detail-pane {
  height: 100%;
  background-color: #303030;
  width: 25%;
  display: flex;
  flex-flow: column;
}

.campus-details {
  height: 55%;
  color: #fff;
  padding: 2rem;
  line-height: 160%;
  width: 100%;
}

.campus-details .contact-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  padding: 0;
}

.contact-information li {
  width: 45%;
  font-size: 0.6rem;
  margin-bottom: 1.2rem;
  height: 6.5rem;
  background-color: #979797;
  list-style-type: none;
  padding: 1rem;
  text-align: center;
}

.contact-information li i {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  display: block;
}

.campus-network, .hospital-list {
  background-color: #fff;
  height: 45%;
  overflow: scroll;
}

.hospital-list ul {
  padding: 0;
  margin: 0;
}

.hospital-list li {
  text-align: left;
  padding: 1rem;
  min-height: 3rem;
  list-style-type: none;
  cursor: pointer;
}

.hospital-list ul li:nth-child(even) {
  color: #fff;
  background-color: #FF6464;
}
