.hospital-detail-pane button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1rem;
}

.hospital-detail-pane button:hover {
  color: #ff6464;
  text-decoration: underline;
}

.hospital-detail-pane {
  height: 100%;
  background-color: #303030;
  width: 25%;
  display: flex;
  flex-flow: column;
}

.campus-details {
  height: 55%;
  color: #fff;
  padding: 2rem;
  line-height: 160%;
  width: 100%;
  overflow-y: scroll;
}

.campus-details .contact-information {
  width: 100%;
  padding: 0;
}

.campus-details h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.contact-information li {
  display: flex;
  align-items: center;
  width: 90%;
  font-size: 0.9rem;
  list-style-type: none;
  text-transform: lowercase;
}

.contact-information li i {
  margin-right: 0.8rem;
  width: 1rem;
  font-size: 1.1rem;
  text-align: left;
}

.campus-information-detail {
  width: 10rem;
}

.hospital-list {
  background-color: #fff;
  height: 45%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hospital-list h3 {
  padding: 1rem;
}

.hospital-list ul {
  padding: 0;
  margin: 0;
}

.hospital-list li {
  text-align: left;
  padding: 1rem;
  min-height: 3rem;
  list-style-type: none;
  cursor: pointer;
  font-size: 0.8rem!important;
}

.hospital-list ul li:nth-child(odd) {
  color: #fff;
  background-color: #FF6464;
}

@media screen and (max-width: 1100px){

}
