html, body, #root, .App {
  height: 100%;
}

main {
  display: flex;
  /* - navbar height */
  width: 100%;
  height: calc(100% - 4.2rem);
}

main.loading {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50vw;
  height: 12rem;
  top: calc(50% - 6rem);
  left: calc(50% - 25vw);
}

.loading .spin {
  border: 0.6rem solid #f3f3f3;
  border-top: 0.6rem solid #ff6464;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: rotate 0.9s linear infinite;
  margin: 0 auto;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
