nav img {
  position: absolute;
  top: 0.4em;
  left: 1em;
  height: 5em;
  z-index: 2;
}

nav {
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: 4.2rem;
  box-shadow: 0px -10px 30px black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

nav li {
  float: left;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: #7a7a7a;
  text-align: center;
  padding: 1.4em 2em;
  text-decoration: none;
  font-weight: 800;
}

nav li .selected, nav li .title {
  color: #FF6360;
}

nav li:nth-child(2) a {
  margin-left: 6em
}

