nav {
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: 4.2rem;
  box-shadow: 0px -10px 30px black;
}

nav img {
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  height: 5rem;
  z-index: 2;
}

nav ul {
  height: 100%;
  margin: 0 4rem 0 8rem;
  padding: 0;
  display: flex;
  background-color: white;
  list-style-type: none;
  justify-content: space-between;
}

nav li {
  align-self: center;
}

nav li li {
  display: inline-block;
  margin-left: 4rem;
}

nav li a {
  color: #7a7a7a;
  text-decoration: none;
  font-weight: 500;
}

nav li .selected, nav li .title {
  color: #FF6360;
}

